accelerate==0.21.0
datasets==2.14.6
numpy==1.21.6
ray==2.5.0
raydp==1.6.0
transformers==4.31.0
typing==3.7.4.3
tabulate
ray[tune]
ray[serve]
gradio
gymnasium
dm-tree
tensorboard
einops
peft==0.5.0
py-cpuinfo
torch==2.0.0+cpu
oneccl_bind_pt==2.0.0
intel_extension_for_pytorch==2.0.100+cpu
