accelerate==0.21.0
datasets==2.12.0
numpy==1.24.4
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl
torchvision==0.14.1
torch==1.13.1
transformers==4.38.0
typing==3.7.4.3
tabulate
ray[tune]
ray[serve]
gradio
gymnasium
dm-tree
scikit-image
pydantic==1.10.13
tensorboard
einops
gpustat==1.0.0
peft==0.4.0
evaluate
-e git+https://github.com/microsoft/Megatron-DeepSpeed.git#egg=megatron-core
