[Unit]
Description=Prune Docker Volumns to Reclaim Space
After=docker.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/prune_docker_volumns.sh

[Install]
WantedBy=multi-user.target
