port: 8000
name: gpt2
route_prefix: /gpt2
cpus_per_worker: 1
gpus_per_worker: 0
hpus_per_worker: 0
deepspeed: false
workers_per_group: 2
device: cpu
num_replicas: 1
ipex:
  enabled: true
  precision: fp32
model_description:
  model_id_or_path: gpt2
  tokenizer_name_or_path: gpt2
  gpt_base_model: true
  chat_template: "llm_on_ray/inference/models/templates/template_gpt2.jinja"
