port: 8000
name: opt-125m
route_prefix: /opt-125m
num_replicas: 1
cpus_per_worker: 1
gpus_per_worker: 0
deepspeed: false
workers_per_group: 2
device: CPU
ipex:
  enabled: false
  precision: fp32
model_description:
  model_id_or_path: facebook/opt-125m
  tokenizer_name_or_path: facebook/opt-125m
  chat_template: "llm_on_ray/inference/models/templates/template_gpt2.jinja"
