name: llm-ray inference & finetune

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/**'
      - 'docker/**'
      - 'common/**'
      - 'dev/docker/**'
      - 'finetune/**'
      - 'inference/**'
      - 'rlhf/**'
      - 'tools/**'

jobs:

  call-inference:
    uses: ./.github/workflows/workflow_inference.yml
