name: llm-ray inference & finetune

on:
  push:
    branches:
      - main
    paths:
      - '.github/**'
      - 'docker/**'
      - 'dev/docker/**'
      - 'llm_on_ray/common/**'
      - 'llm_on_ray/finetune/**'
      - 'llm_on_ray/inference/**'
      - 'llm_on_ray/rlhf/**'
      - 'tools/**'
      - 'pyproject.toml'
      - 'tests/**'

jobs:
  call-lint:
    uses: ./.github/workflows/workflow_lint.yml

  call-tests:
    uses: ./.github/workflows/workflow_tests.yml
    
  # call-inference:
  #   uses: ./.github/workflows/workflow_inference.yml

  call-finetune:
    uses: ./.github/workflows/workflow_finetune.yml
