name: PR

on:
  pull_request:
    branches:
      - main
    paths:
      - '**'
      - '!*.md'

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:

  Lint:
    uses: ./.github/workflows/workflow_lint.yml

  Tests:
    needs: Lint
    uses: ./.github/workflows/workflow_tests.yml

  # Inference:
  #   needs: Lint
  #   uses: ./.github/workflows/workflow_inference.yml

  # Inference_Gaudi:
  #   needs: Lint
  #   uses: ./.github/workflows/workflow_inference_gaudi2.yml

#   Finetune:
#     needs: Lint
#     uses: ./.github/workflows/workflow_finetune.yml

#   Finetune_Gaudi:
#     needs: Lint
#     uses: ./.github/workflows/workflow_finetune_gaudi2.yml

#   Benchmark:
#     needs: Lint
#     uses: ./.github/workflows/workflow_test_benchmark.yml

